﻿@{
    ViewBag.Title = "Home Page";
}

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<div id="main-screen" class="container" ng-app="hangman" ng-controller="GameController">
    <br />
    <div id="drawing"></div>
    <div class="row">
        <div id="error-alert" class="collapse">{{errText}}</div>
    </div>
    <div id="game-screen" class="jumbotron">
         <!-- Repeating elements in arrays not allowed with ng-repeat. Track by $index to fix the issue -->
         <span class="hangman hangman-covered noselect" ng-repeat="letter in wordString track by $index">{{letter}}</span>  
         <h2>Letters left: {{letterCount}}</h2>
    </div>
    <div id="keyboard-input" class="row">
        <ul>
            <li ng-repeat="letter in letters">
                <a href="#" class="letter-input">{{letter}}</a>
            </li>
        </ul>
    </div>
    <!--
    <div class="row">
        <div class="col-sm-offset-4 col-sm-1">
            <div class="main-hoverable">
                <a href="#" class="backspace-input">
                    <span id="clear-icon" class="glyphicon glyphicon-arrow-left"> </span>
                </a>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-1">
            <div class="main-hoverable">
                <a href="#" class="clear-input">
                    <span id="clear-icon" class="glyphicon glyphicon-remove"> </span>
                </a>
            </div>
        </div>
    </div>
    -->
</div>

@section scripts {
     @Scripts.Render("~/Scripts/keyboard-handling.js")
     @Scripts.Render("~/Scripts/angular-script.js")
}

