﻿body {
    background-color: #F2F3F5;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#clear-icon {
    padding: 4px 7px 2px 13px;
}

#keyboard-input ul {
    list-style-type: none;
}

#keyboard-input ul li {
    padding: 0px 3px 0px 4px;
    float: left;
    border: 7px solid #F2F3F5;
}

#keyboard-input ul li a:hover {
    text-decoration: none;
}

.letter-input {
    font-family: Britannic;
    font-size: 35px;
    transition: background-color .5s;
    text-decoration: none;
}

.letter-input:hover {
    border: 0;
}

.letter-input-used {
    color: orangered;
    text-decoration: line-through;
}

#main-string {
    list-style-type: none;
}

#main-string li {
    float: left;
}

#game-screen {
    text-align: center;
}

#hangman-container {
    text-align:center;
}

.hangman {
    width: 50px;
    height: 50px;
    margin: auto;
    color: #5C85FF;
    font-size: 40px;
    border-bottom: 0px solid black;
    transition: color .1s, border .1s;
    margin: 5px;
}

.hangman-covered {
    user-select: none;
    color: #EEEEEE !important;
    border-bottom: 3px solid darkgrey;
}

.hangman-reveal {
    color:orangered;
}

.letter-count {
    font-family:'Times New Roman';
    color:cornflowerblue;
    font-weight:bold;
    font-size: 28px;
    text-align: center;
}

#error-alert {
    border-radius: 10px;
    background-color: #D9EDF7;
    color: #4d3fc7;
    font-size: 20px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* Might not be best practice...
*/
.navbar {
    background-color: #ffffff;
}

.icon-bar {
    border-bottom: 3px solid #134db7;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#drawing {
    border: 1px dashed #ccc;
    height: 400px;
}

div.line {
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    transform-origin: 0 50%;

    height: 5px;
    opacity: .5;
    background: #000000;

    -webkit-transition: -webkit-transform 1s, width 1s;
    -moz-transition:    -moz-transform 1s, width 1s;
    transition:         transform 1s, width 1s;
}

div.circle { 
    opacity: .5;
    border: 5px solid black;
    background: none; 
    -moz-border-radius: 25px; 
    -webkit-border-radius: 25px; 
    border-radius: 25px; 
    
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    transform-origin: 0 50%;

    -webkit-transition: -webkit-transform 1s, width 1s, height 1s;
    -moz-transition:    -moz-transform 1s, width 1s, height 1s;
    transition:         transform 1s, width 1s, height 1s;
}